$green-color: #6c933e;
$font-color-gray:#4a4a4a;
// $tittle-color: #d9e4cc;
$font-color-white: white;
$font-tittle: "Roboto Slab", serif;
$font-body: "Roboto", sans-serif;
$background-section: #d9e4cc;

