.header {
    height: 100vh; 
    height: 100vh;
    background-image: url(/images/cover.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 82.5%;
 
    &__nav{
        width: 30px;
        height: 30px;
        display:flex;
        align-items: center;
        justify-content: center;
        background-color: $green-color;
        position: fixed;
        top: 0;
        
      
    }
    }

    .container {
        
        width: 100%;
        height: 815px;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
      
    }

    .containerdiv {
        width: 312px;
        color: $font-color-white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;

        &__tittle1{ 
            font-family: $font-tittle; 
            //NO ME FUNCIONA EL ROBOTO SLAB MIRAR MAS TARDE QUE PASA
            font-weight: 500;
            line-height: 70px;
            font-size: 2.6rem;
            margin-bottom: 30px;     
        }

        &__p1 {
            font-size: 1.3rem; 
            font-family: $font-body;  
            line-height: 30px; 
            font-weight: 400;
            margin-bottom: 20px;
        }

        &__figure{
            width: 50px;
            height: 50px;
            background-color: $font-color-gray;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center; 
             
            &-icon {
                width: 25px;
                padding-top: 5px;
            
            }     
        }
        }

    


    




