.main {
    background-color: aqua;
    width: 390px;
    height: 447px;
    &__article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
}