.main {
    height: 447px;
    margin: 40px 15px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 

    @media screen and (min-width: 768px) {
        height: 300px;
        margin: 40px 40px;
        display: block;
    
    }

}
    
    

    .mainArticle__h2 {
        font-family: $font-body;
        font-size: 18px;
        font-weight: 500;
        color: $green-color;
        margin-bottom: 10px;
    }

    .mainArticle__h3 {
        font-family: $font-tittle;
        font-size: 28px;
        margin-bottom: 10px;
    }

    .mainArticle__p {
        font-family: $font-body;
        font-size: 23px;
        line-height: 36px;

        @media screen and (min-width: 768px) {
            font-size: 20px;
            line-height: 32px;
        }

    }
    
    .mainDiv {
        width: 200px;
        padding: 10px;
        background-color: $font-color-white;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        text-align: center;
        border: solid 4px $green-color;
        margin-bottom: 30px;

        @media screen and (min-width: 768px) {
            width: 160px;
            
        }

        &__a {
        font-family: $font-body;
        color: $green-color;
        font-size: 25px;
        font-weight: bold;

        @media screen and (min-width: 768px) {

            font-size:20px;

          }
        }
    }

@media screen and (min-width: 768px) {
        .mainArticle {
           margin-bottom: 30px;
        }
    }
    
    

