<header class="header">
    <nav class="header__nav">
        <img src="/images/ico-menu.svg" alt="icono tres barras menú">
    </nav>


    <section class="container">
        <div class="container__div">
            <h1 class="container__div-tittle1">COMIENZOS COMPARTIDOS</h1>
            <P class="container__div-p1">Todo lo que necesitas para volver al cole con ilusión</P>
            <img class="container__div-icon" src="/images/ico-scroll-down.svg" alt="icono para hacer scroll hacia abajo">
        </div>
    </section>
</header>
