<!-- estilos con imagen en html -->

<!-- <sections class="section__img">
    <img cñass="section__img-image" src="/images/cover.jpeg" alt="">
</section>


<header class="header">
        <nav class="header__nav">
            <img src="/images/ico-menu.svg" alt="icono tres barras menú">
        </nav>
</header> -->


<!-- ESTRUCTURA HTML CON BACKGROUND -->


<header class="header" id="menuHeader">
    <section class="containerHeader">
        <nav class="containerHeader__nav">
            <a href="https://adalab.es/"><img src="/images/ico-menu.svg" alt="icono tres barras menú"></a>
        </nav>


    <section class="container">
        <div class="containerDiv">
            <h1 class="containerDiv__tittle1">COMIENZOS COMPARTIDOS</h1>
            <P class="containerDiv__p1">Todo lo que necesitas para volver al cole con ilusión</P>
            <figure class="containerDiv__figure">
               <a href="../index.html/#menuFooter"> <img class="containerdiv__figure-icon" src="/images/ico-scroll-down.svg" alt="icono para hacer scroll hacia abajo"> </a>
            </figure>
        </div>
     </section>

    </section>
</header>

<!-- Otra manera de hacer este header seria:
- poniento primero una imagen en html, ajustarla
- despues, poner el nav abajo y la seccion abajo y moverlas con position porque rompen el flujo de la pagina -->

