<header class="header">
    <nav class="header__nav">
        <img src="/images/ico-menu.svg" alt="icono tres barras menú">
    </nav>


    <section class="container">
        <div class="containerdiv">
            <h1 class="containerdiv__tittle1">COMIENZOS COMPARTIDOS</h1>
            <P class="containerdiv__p1">Todo lo que necesitas para volver al cole con ilusión</P>
            <figure class="containerdiv__figure">
               <a href=""> <img class="containerdiv__figure-icon" src="/images/ico-scroll-down.svg" alt="icono para hacer scroll hacia abajo"> </a>
            </figure>
        </div>
    </section>
</header>
