<section class="section">
    <div class="section__text">
        <p class="section__text-p">¡Prepáralos con tus marcas favoritas!</p>
        <h1 class="section__text-h1">VUELTA AL COLE</h1>
    </div>

    <ul class="products">
        <li class="products__item">
            <img class="products__item-img" src="/images/mochilas-escolares.png" alt="niña con mochila escolar">
            <p class="products__item-p">Mochilas escolares</p>
        </li>
        <li class="products__item">
            <img class="products__item-img" src="/images/estuches.png" alt="niño con estuche">
            <p class="products__item-p">Estuches</p>
        </li>
        <li class="products__item">
            <img class="products__item-img" src="/images/bolsas-de-deporte.png" alt="Niña con bolsa de deporte/mochila">
            <p class="products__item-p">Bolsas de deporte</p>
        </li>
    </ul>


    <div class="section__link">
    <a class="section__link-a" href="">Empezar ahora</a>
    </div>

    <img src="/images/ico-arrow.svg" alt="icono flecha hacia arriba">
</section>