<section>
    <p>¡Prepáralos con tus marcas favoritas!</p>
    <h1>VUELTA AL COLE</h1>

    <!-- MIRAR SI ESTA PARTE SE PUEDE HACER EN PARTIAL -->

    <div>
        <img class="section__img" src="/images/mochilas-escolares.png" alt="niña con mochila escolar">
        <p>Mochilas escolares</p>
    </div>
    <div>
        <img class="section__img" src="/images/estuches.png" alt="niño con estuche">
        <p>Estuches</p>
    </div>
    <div>
        <img class="section__img" src="/images/bolsas-de-deporte.png" alt="Niña con bolsa de deporte/mochila">
        <p></p>
    </div>

    <a href="">Empezar ahora</a>

    <img src="/images/ico-arrow.svg" alt="icono flecha hacia arriba">
</section>